.con1vaccination {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--funit)*40) calc(var(--funit)*20);
}

.con1vaccination>.con1vaccinationH1 {
    flex: 40%;
    margin: 0px;
    text-align: center;
    font-size: calc(var(--funit)*30);
    font-weight: lighter;
    padding: calc(var(--funit)*18);
}

.pinSearch {
    flex: 50%;
    text-align: center;
    font-weight: lighter;
    padding: calc(var(--funit)*20);
}

#myInput2 {
    max-width: 50vh;
    width: 70%;
    padding: calc(var(--funit)*5) calc(var(--funit)*10);
    border: none;
    border: calc(var(--funit)*1.5) solid #017e7e;
    margin: calc(var(--funit)*5);
    border-radius: calc(var(--funit)*30);
    font-size: calc(var(--funit)*12);
    outline: none;
}

#searchButton2 {
    width: calc(var(--funit)*80);
    padding: calc(var(--funit)*6);
    border: none;
    border-radius: calc(var(--funit)*30);
    background-color: #017e7e;
    color: white;
    font-size: calc(var(--funit)*12);
    outline: none;
}

.con2vaccination {
    background-color: #edffff;
    padding: calc(var(--funit)*18);
    margin: calc(var(--funit)*18) 0px;
    height: fit-content;
    min-height: 200px;
    
}

/* #table {
    margin: auto;
    border-collapse: collapse;
    width: calc(var(--funit)*750);    
}

#table td {
    font-size: calc(var(--funit)*12);
    padding: calc(var(--funit)*8);
    font-weight: 500;    
}

#table tr:hover {
    background-color: #ff9a31;
    transition: .2s;
}

#table th {
    font-size: calc(var(--funit)*12);
    padding: calc(var(--funit)*12) calc(var(--funit)*8);
    text-align: left;
    background-color: #017e7e;
    color: white;    
} */

/* MEDIA QURIES ---------------------------------- */
@media (max-width: 700px) {
    .con1vaccination{
        flex-direction: column;
    }    
  }