/* HOME PAGE CONTAINER 1 --------------------------------------------------- */
.con1home {
    max-width: calc(var(--funit)*750);
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--funit)*10);
    align-items: center;
    /* min-height: 500px; */
}

.con1home>.con1_text {
    flex: 30%;
    padding: calc(var(--funit)*10);
}

.con1_text>h1 {
    font-weight: lighter;
    font-size: calc(var(--funit)*40);
    margin: 0px;
    padding: calc(var(--funit)*5);
}

.con1_text>h2 {
    margin: 0px;
    padding: calc(var(--funit)*5);
    font-weight: lighter;
    font-size: calc(var(--funit)*15);
}

#totalConfirmed,
#totalDeaths {
    font-weight: bold;
    color: red;
}

.con1home>.con1_img {
    flex: 70%;
}

.con1_img>img {
    display: none;
    width: 80%;
    margin: auto;
    transition: .5s;
}

#img1 {
    display: block;
}


/* HOME PAGE CONTAINER 2 --------------------------------------------------- */
.con2home{
    background-color: #edffff;
    padding: calc(var(--funit)*18);
    margin: calc(var(--funit)*18) 0px;
    height: fit-content;
    /* min-height: 50vh; */
}

.con2home>.con2homeH2 {
    font-weight: lighter;
    font-size: calc(var(--funit)*30);
    margin: 0px;
    padding: calc(var(--funit)*10);
    text-align: center;
}

#table {
    margin: auto;
    border-collapse: collapse;
    width: 75%;
    /* width: fit-content; */
}

#table td {
    font-size: calc(var(--funit)*12);
    padding: calc(var(--funit)*8);
    font-weight: 500;    
}

#table tr:hover {
    background-color: #ff9a31;
    transition: .2s;
}

#table th {
    font-size: calc(var(--funit)*12);
    padding: calc(var(--funit)*12) calc(var(--funit)*8);
    text-align: left;
    background-color: #017e7e;
    color: white;    
}

/* COUNTRY SEARCH CONTAINER ------------------------------------ */
.countrySearch {
    padding: calc(var(--funit)*40) calc(var(--funit)*20);
    text-align: center;
}

.countrySearch>div {
    display: inline;
    width: fit-content;
}

#myInput{
    max-width: 50vh;
    width: 70%;
    padding: calc(var(--funit)*5) calc(var(--funit)*10);
    border: none;
    border: calc(var(--funit)*1.5) solid #017e7e;
    margin: calc(var(--funit)*5);
    border-radius: calc(var(--funit)*30);
    font-size: calc(var(--funit)*12);
    outline: none;
}

#searchButton{
    width: calc(var(--funit)*80);
    padding: calc(var(--funit)*6);
    border: none;
    border-radius: calc(var(--funit)*30);
    background-color: #017e7e;
    color: white;
    font-size: calc(var(--funit)*12);
    outline: none;
}

#countryResult {
    text-align: center;
    padding: calc(var(--funit)*20);
    font-size: calc(var(--funit)*15);
}
/* PIE CHART-------------------------------------- */
.chartData{
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
}
#myChart{
    max-width: 100%;
    
}
/* MEDIA QUERIES ------------------------------------ */
@media (max-width: 700px) {
    .con1home{
        flex-direction: column;
    }
    .con2home>h2{
        font-size: 30px;
    }
    #table{
        width: 95%;
    }
  }