* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    /* border: .1px solid red; */
}

/* DEFINING THE UNIT ------------------------------------- */
:root{
    --funit: .1vW;
}
@media (max-width: 2000px){:root{ --funit: .06vw;}}
@media (max-width: 1800px){:root{ --funit: .08vw;}}
@media (max-width: 1600px){:root{ --funit: .1vw;}}
@media (max-width: 1400px){:root{ --funit: .12vw;}}
@media (max-width: 1200px){:root{ --funit: .14vw;}}
@media (max-width: 1000px){:root{ --funit: .16vw;}}
@media (max-width: 800px){:root{ --funit: .2vw;}}
@media (max-width: 600px){:root{ --funit: .24vw;}}
@media (max-width: 500px){:root{ --funit: .32vw;}}
@media (max-width: 400px){:root{ --funit: .4vw;}}

/* MAIN CONTAINER -------------------------------------- */
.mainCon {
    min-height: 100vh;
}

/* HEADDER STYLING ----------------------------------------------------------- */
.conHead {      
    padding: calc(var(--funit)*10) calc(var(--funit)*10);   
}
.conHead>h1{
    font-size: calc(var(--funit)*35);
    font-weight: bolder;
    letter-spacing: calc(var(--funit)*5);
    word-spacing: calc(var(--funit)*5);
    color: #017e7e;
}

/* FOOTER STYLING ----------------------------------------------------------- */
.containerFoot {
    width: 100vw;
    color: white;
    text-align: center;
    font-size: calc(var(--funit)*12);
    padding: calc(var(--funit)*5);
    background-color: #017e7e;

}





